<!--===========================================================================================================================================================================================================================================================-->
<div class="container">
    <div class="row flex-lg-nowrap">
    <div class="col-12 col-lg-auto mb-3" style="width: 200px">
      <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
        <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Overview</span></a></li>
        <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fa fa-fw fa-th mr-1"></i><span>CRUD</span></a></li>
        <li class="nav-item"><a class="nav-link px-2" href="#"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
        </ul>
      </div>
      </div>
    </div>
    
    <div class="col">
      <!-- <div class="e-tabs mb-3 px-3">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="#">Users</a></li>
     
      </ul>
      </div> -->

      
    
      <div class="row flex-lg-nowrap">
      <div class="col mb-3">
        <div class="e-panel card">
        <div class="card-body">
          <div class="card-title">
          <h6 class="mr-2"><span>Customers</span><small class="px-1">Details</small></h6>
          </div>
           <!--==================================================================================================================
                                           Inicio de la tabla====================================================================================-->
          <div class="e-table">
          <div class="table-responsive table-lg mt-3">
            <table class="table table-bordered">
            <thead>
              <tr>
              <th class="align-top">
                <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
                <input type="checkbox" class="custom-control-input" id="all-items" />
                <label class="custom-control-label" for="all-items"></label>
                </div>
              </th>
              <th scope="col">ID</th>
              <th class="max-width">Name</th>
              <th scope="col">Photo</th>
              <th scope="col">Modo</th>
              <th scope="col">Cell-phone</th>
              <th class="col">e-mail</th>
              <th class="col">pais</th>
              <th class="col">DNI</th>
              <th> </th>
              <th>Actions</th>
              </tr>
            </thead>
            <tbody>
                <!-- se usa el metodo listar de listausuario.componet.ts -->
              <tr *ngFor="let cliente of listaCliente">
                    <td class="align-middle">
                    <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                    <input type="checkbox" class="custom-control-input" id="item-1" />
                    <label class="custom-control-label" for="item-1"></label>
                    </div>
                    </td>
                    <!-- Utilizamos la interface para obtener los datos -->
                    <th class="text-nowrap align-middle" scope="row">{{ cliente.id }}</th>
                    <!-- Foto -->
                    <td class="text-nowrap align-middle">{{ cliente.nombre }}</td>
                    <!-- Nombre -->
                    <td class="text-nowrap align-middle">{{ cliente.foto }}</td>
                    <td class="text-nowrap align-middle">{{ cliente.modo }}</td>
                    <td class="text-nowrap align-middle">{{ cliente.telefono }}</td>
                    <td class="text-nowrap align-middle"><span>{{ cliente.email }}</span></td>
                    <td class="text-nowrap align-middle"><span>{{ cliente.pais }}</span></td>
                    <td class="text-nowrap align-middle"><span>{{ cliente.dni }}</span></td>
                    <td class="text-center align-middle"><i class="fa fa-fw text-secondary cursor-pointer fa-toggle-on"></i></td>
                
                    <!--==================================================================================================================
                                            BOTON PARA MODALS =========================================================================================-->
                    <td class="text-center align-middle">
                    <div class="btn-group align-top">
                      <a href="cliente/editarcliente">
                        <button class="btn btn-sm btn-outline-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#userformmodal">Edit</button>
                      </a>
                        
                        <button (click)="eliminarClientes(cliente.id)" class="btn btn-sm btn-outline-secondary badge" type="button"><i class="fa fa-trash"></i>DELETE</button>
                    </div>
                    </td>
                    <!--==================================================================================================================
                                            BOTON PARA MODALS =========================================================================================-->

                </tr>

                
                <!--==================================================================================================================
                                           Fin de la tabla para datos====================================================================================-->
            </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination mt-3 mb-0">
                <li class="disabled page-item"><a href="#" class="page-link">‹</a></li>
                <li class="active page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">»</a></li>
              </ul>
          </nav>
          </div>
          </div>
           <!--==================================================================================================================
                                           Fin de la toda la TABLA====================================================================================-->
        </div>
        </div>
      </div>
       <!--==================================================================================================================
                                           Inicio de busquedas====================================================================================-->
      <div class="col-12 col-lg-3 mb-3">
        <div class="card">
        <div class="card-body">
          <div class="text-center px-xl-3">
            <a href="cliente/nuevocliente">
              <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#userformmodal">New Cliente</button>
            </a>
          </div>
          <hr class="my-3" />
          <div class="e-navlist e-navlist--active-bold">
          <ul class="nav">
            <li class="nav-item active"><a href="" class="nav-link"><span>All users</span> <small>/ 32</small></a></li>
            <li class="nav-item"><a href="" class="nav-link"><span>Active users</span> <small>/ 16</small></a></li>
            
          </ul>
          </div>
          <hr class="my-3"/>
          <label class="form-label text-danger mb-0">Searchs by name and date:</label>
          <div>
          <div class="input-group mb-3">
            <label class="form-label">Date from - to:</label>
            <div>
            <input id="dates-range" class="form-control flatpickr-input" placeholder="01 May 21 - 27 May 21" type="text" readonly="readonly" />
            </div>
          </div>
          <div class="input-group mb-3">
            <label class="form-label">Search by Name:</label>
            <div><input class="form-control w-100" type="text" placeholder="Name" value="" /></div>
          </div>
          </div>
          <hr class="my-3" />
          <!---------------------------------------------------- 
                Status del usuario para busqueda 
           ---------------------------------------------------->
          <!-- <div class="">
          <label class="form-label">Status:</label>
          <div class="px-2">
            <div class="custom-control custom-radio form-check">
            <input type="radio" class="form-check-input" name="user-status" id="users-status-disabled" />
            <label class="form-label" for="users-status-disabled">Disabled</label>
            </div>
          </div>
          <div class="px-2">
            <div class="custom-control custom-radio form-check">
            <input type="radio" class="form-check-input" name="user-status" id="users-status-active" />
            <label class="form-label" for="users-status-active">Active</label>
            </div>
          </div>
          <div class="px-2">
            <div class="custom-control custom-radio form-check">
            <input type="radio" class="form-check-input" name="user-status" id="users-status-any" checked="" />
            <label class="form-label" for="users-status-any">Any</label>
            </div>
          </div>
          </div> -->
        </div>
        </div>
      </div>
      </div>
    
    </div>
    </div>
  <!--===========================================================================================================================================================================================================================================================-->
